.messageClient {
  font-weight: bold;
  font-size: 18px;
  font-family: "Montserrat";
}
.messagesubject {
  font-weight: regular;
  font-size: 16px;
  font-family: "Montserrat";
}
.messageMessage {
  font-weight: regular;
  font-size: 17px;
  font-family: "Montserrat";
  display: flex;
  text-align: justify;
}
.messageTime {
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto";
  display: flex;
  justify-content: flex-end;
}
