.recentEstimatesCard {
  height: auto;
  width: auto;
  border-radius: 5;
  margin-top: 3%;
  margin-right: 1%;
}
.incomingBar1 {
  margin-top: 0;
  background-color: rgb(252, 252, 252);
  padding: 10px;
  margin: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.incomingBar2 {
  background-color: rgb(146, 205, 226);
}
.incomingBarUpper {
  border: 2px solid red;
}
.searchBarRecentEstimates {
  position: absolute;
  top: 12px;
  right: 1%;
  display: flex;
  /* justify-content: space-between;  */
}

.formDiv {
  margin-left: 5%;
}

.uploadWidth {
  border: 1px solid lightgray;
}
.uploadWidthClass {
  margin-right: -65%;
  margin-top: 1%;
  margin-bottom: 1%;
  /* font-weight: 200; */
  width: 10%;
  /* font-size: larger; */
  position: relative;
  z-index: 1;
}

.divPlaceHolder {
  float: left;
  color: gray;
  margin-top: 2%;
  margin-left: 2%;
  font-weight: 700;
}
.divPlaceHolde {
  float: left;
  color: gray;
  margin-left: 2%;
  font-weight: 700;
}
.divPlaceHolder2 {
  position: absolute;
  left: 90px;
  float: left;
  color: gray;
  margin-top: 2%;
  margin-left: 2%;
  font-weight: 700;
}
.uploadIconButton {
  float: right;
  margin-top: 6%;
  margin-right: 1%;
  margin-left: 10%;
}

.uploadItem {
  position: absolute;
  right: 20%;
  margin-top: inherit;
}

.required:after {
  content: " *";
  color: red;
}
.btn-primary {
  color: #fff;
  background-color: #427fb9;
  border-color: #427fb9;
}
/* .toast-header{
  color: black;
  background-color: lightblue;
}
.toast{
  margin-right: 2%;
  float: right;
} */
.estimatorAlert {
  margin-left: 50%;
}
.estimatorHHeading {
  color: black;
}
.required:after {
  content: " *";
  color: red;
  font-size: x-large;
}
.leftAlignUp {
  margin-left: -34%;
}

li {
  list-style: none;
}

.placeholderFileName {
  margin: 1%;
  float: left;
  font-weight: bold;
  color: gray;
}
.uploadWidthClassDelete {
  margin-right: -73%;
  margin-top: 1%;
  margin-bottom: 1%;
  /* font-weight: 200; */
  width: 10%;
  /* font-size: larger; */
  position: relative;
  z-index: 1;
}

.loaderUploadCSS {
  display: flex;
  flex-direction: row-reverse;
}

.passwordError {
  display: flex;
  color: red;
  font-style: italic;
}

.multipleLoader {
  display: flex;
  justify-content: flex-end;
  margin-top: -70px;
}
