.manageEstimatorIconBilling {
    float: right;
    margin-right: -3%;
    margin-top: -3.2%;
    width: 5.0%;

  }


  .ManageBillingCompanyListCss
  {
      font-weight: bold;
      /* font-size: 30; */
      font-family: Myanmar Text;
  }


  .ManageBillingCompanyCard {
    height: auto;
    width: auto;
    border-radius: 17px;
    margin-top: 3%;
    margin-right: 1%;
  }