.required:after {
  content: " *";
  color: red;
  font-size: x-large;
}

.bgColorLogin {
  background-color: #100f17;
}

body {
  background-color: #100f17;
}

.loginComponent {
  overflow: hidden;
}

.adminSignIN {
  /* font-family: EurostileBold; */
  font-size: 25px;
  color: white;
}

.signIn {
  background-color: #171d2a;
}

.form-control-lg {
  border-radius: 44px;
}

.Helvetica {
  font-family: Helvetica;
}

#typeEmailX {
  background-image: url("../../Assets/Images/username.png");
  position: left;
  background-repeat: no-repeat;
  background-size: 45px;
}

input[name="centerPlaceHolder"]::placeholder {
  text-align: center;
}

.textCenter {
  text-align: center;
  border: 0px solid #1e2f49;
}

#typePasswordX {
  background-image: url("../../Assets/Images/password.png");
  position: left;
  background-repeat: no-repeat;
  background-size: 45px;
}

.EurostileBoldCSS {
  /* font-family: EurostileBold; */
  font-size: 20px;
}

.inputBg {
  background-color: #1e2f49;
}

.btnLoginSubmit {
  background-color: #427fb9;
  border-radius: 44px;
  color: white;
}

.cardBodyLogin {
  padding-left: 5%;
  padding-right: 5%;
}

.loginPadding {
  padding: 13% 13% 24% 13%;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
}

.logoTitle {
  width: 110%;
  padding-left: 30%;
}

.footerPic {
  max-width: 110%;
  width: auto;
  margin-left: -5%;
  margin-top: -6%;
}

/* @media (max-width: 1200px) {
  .footerPic {
    max-width: 170%;
    width: auto;
    margin-left: -35%;
    margin-top: -6%;
  }
} 

@media (max-width: 991px) {
  .footerPic {
    max-width: 190%;
    width: auto;
    margin-left: -41%;
    margin-top: -6%;
  }
} */

.forgotEmail {
  padding: 5px;
  border-radius: 12px;
  background-color: #171d2a;
  border: 2px solid gray;
  color: white;
}

.newPasswordClass {
  display: flex;
  justify-content: center;
}

.img-tick {
  width: 20%;
}

.text {
  font-size: small;
  width: 50%;
}
