.incomingBar {
    margin-top: 0;
    background-color: #D9E5F1;
    padding: 10px;
    margin: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .incomingInquiriesCard{
    height: auto;
    border-radius: 5;
  }
  .Action{
    color: skyblue ;
  }