.kpiCardfilter {
    width: 10%;
    height: 70px;
    margin-top: 3px;
    margin-bottom: 3px;

}

.kpiMCardfilter {


    border-radius: 0.25rem;
}

.btn_color {
    background-color: rgb(255, 255, 255);
}


.responsiveImg {
    width: 100%;

}