.manageEstimatorIcon {
  float: right;
  margin-right: -2%;
  margin-top: -5%;
  width: 4.5%;
}

.loaderCenter {
  margin-left: 320%;
  margin-top: 25%;
}

.ManageEstimatorListCard {
  height: auto;
  width: auto;
  border-radius: 17px;
  margin-top: 3%;
  margin-right: 1%;
  margin-bottom: 4%;
}

.blueCircleImage {
  margin-left: -1rem;
  margin-top: -1rem;
  width: 5%;
}
.searchBarRecentEstimatesSearch {
  position: absolute;

  /* top: 5px; */

  right: 1%;

  display: flex;

  margin-top: 2px;

  /* justify-content: space-between; */
}
