.buttonColor
{
    background-color: #427FB9;
}
.sliderCard{
    padding: 2%;
}


.containerAllEstimates
{
    border-radius: 25px;
    background-color: white;
}


.bgColor
{
    background-color: #F2F2F2;
}