.logo_calender
{
    background-image: url("/src/Assets/Images/Icon_feather_calendar.jpg");
    background-repeat: no-repeat;
    background-position:1% ;
    background-position-x: center;
    background-size: 22px;
    
}


